.row.mt-3
  .col-6
  .col-2.text-right
    - if is_recent
      %a{href: "/personal_submissions?recent=false"} Show all
    - else
      %a{href: "/personal_submissions?recent=true"} Show recent

.row
  .col-8
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th submission
          %th submission variant
          %th Total rank

      %tbody
        - submissions.each do |submission|
          - sv_config = SUBMISSION_VARIANTS[submission.submission_variant]
          %tr
            %td= submission.name
            %td
              %a{href: "submissions/#{submission.submission_variant}"}
                = surround '(', ')' do
                  = sv_config[:submission_type]
                = sv_config[:name]
            %td
              - if submission.most_recent?
                %b= submission_ranks[submission]
              -else
                %i
                  = submission_ranks[submission]
                  (compared to recent submissions)
