.row
  .col-6
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th{rowspan: 2} user
          %th{rowspan: 2} TF
          %th{rowspan: 2} species
          %th{rowspan: 2} submission
          - benchmarks.each do |benchmark|
            %th.benchmark-name{colspan: benchmark[:metrics].size}= benchmark[:name]
        %tr
          - benchmarks.each do |benchmark|
            - benchmark[:metrics].sort.each do |metric_name, metric_infos|
              %th.metric-name= metric_name
      %tbody
        - submissions.each do |submission|
          %tr
            %td= submission.user.name
            %td= submission.tf
            %td= submission.species
            %td= submission.ticket
            - benchmarks.each do |benchmark|
              - benchmark_metrics = submission.benchmark_by_name(benchmark[:name])
              - if !benchmark_metrics
                %td{colspan: benchmark[:metrics].size}
              - elsif benchmark_metrics.status != 'finished'
                %td{colspan: benchmark[:metrics].size}= benchmark_metrics.status
              - else
                - benchmark[:metrics].sort.each do |metric_name, metric_infos|
                  %td= benchmark_metrics.metric_by_name(metric_name)&.value
